<ion-header>
  <ion-toolbar>
    <ion-title>
      Restaurante
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      
      <ion-label>Datos del Cliente</ion-label>
      <ion-button fill="outline" slot="end" (click)="selCliente()" ><ion-icon size='large' name="people"></ion-icon></ion-button>
    </ion-item>
  
    <ion-card-content>
          
      <ion-item>
        <ion-label position="stacked">Cedula</ion-label>
        <ion-input readonly="true" id="txtCedula"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nombres</ion-label>
        <ion-input readonly="true" id="txtNombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Direccion</ion-label>
        <ion-input readonly="true" id="txtDireccion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Telefono</ion-label>
        <ion-input readonly="true" id="txtTelefono"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      
      <ion-label>Producto</ion-label>
      <ion-button fill="outline" slot="end"><ion-icon size='large' name="pizza"></ion-icon></ion-button>
    </ion-item>
  
    <ion-card-content>
          
      <ion-item>
        <ion-label position="stacked">Cedula</ion-label>
        <ion-input readonly="true" id="txtCedula"></ion-input>
      </ion-item>
      
    </ion-card-content>
  </ion-card>


</ion-content>
